dist: xenial

language: go

go:
  - 1.11.x
  - 1.x

services:
  - docker

env:
  - GO111MODULE=on

notifications:
  email:
    on_success: never
    on_failure: change

before_install:
  # Install linters and misspell
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | bash -s -- -b $GOPATH/bin v1.15.0
  - golangci-lint --version

install:
  - echo "TRAVIS_GO_VERSION=$TRAVIS_GO_VERSION"
  - go mod download

before_deploy:
  - >
    if ! [ "$BEFORE_DEPLOY_RUN" ]; then
      export BEFORE_DEPLOY_RUN=1;
      echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin
    fi

deploy:
  - provider: script
    skip_cleanup: true
    script: curl -sL https://git.io/goreleaser | bash
    on:
      tags: true
      condition: $TRAVIS_GO_VERSION =~ ^1\.x$
  - provider: script
    skip_cleanup: true
    script: make publish-images
    on:
      tags: true
      condition: $TRAVIS_GO_VERSION =~ ^1\.x$
